.collection-preview {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  height: 100%;
  width: 40%;

  .preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
